body{
    background-color: #6B6868;
}

label {
    color:#FFDE7D;
    
}

input{
    background-color: #FFDE7D;
    border-style: none;
    border-radius: 20px;

}

#title {
color: #FFDE7D;
}

#type {
    color: #FFDE7D;   
}

#year{
    color: #FFDE7D;
}

#poster{
    color: #FFDE7D;
}