body{
    background-color: #6B6868;
}

#title{
    color: #FFDE7D;
}


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(58,58,58);
}

/* Header */
header {
    background-color:rgb(44,44,44);
    position: absolute;
    width: 100%;
    top: 0%;
    left:0%;
}

#logoImage {
    position: relative;
    left: 1%;
    height: 80px;
    width: 50px;
}


#home {
    font-family: 'Voltaire', sans-serif;
    position: absolute;
    font-size: 20px;
    top: 24%;
    left: 20%;
    color: rgb(255,222,125);
}

#login {
    font-family: 'Voltaire', sans-serif;
    position: absolute;
    font-size: 20px;
    top: 24%;
    left: 28%;
    color: rgb(255,222,125);
}

#userIcon {
    position: absolute;
    font-size: 30px;
    top: 22%;
    right: 3%;
    color: rgb(255,222,125);
}
#lineBelowHeader {
    border-width: 7px;
    border: solid rgb(255,222,125);
    position: absolute;
    width: 100%;
    top:-5%;
    left:0%;
}

/* Content */
#content{
    margin-top:10%;
    text-align: center;
    font-size: 40px;
}

main {
    position: relative;
    top: 80px;
} 

label {
    color:#FFDE7D;
    
}

input{
    background-color: #FFDE7D;
    border-style: none;
    border-radius: 20px;
     margin: 3px;
     font-size: 40px;
}


#done-button{
    font-size: 40px;
}

select{
    font-size: 40px;
}