
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(58,58,58);
}

/* Header */
header {
    background-color:rgb(44,44,44);
    position: absolute;
    width: 100%;
    top: 0%;
    left:0%;
}

#logoImage {
    position: relative;
    left: 1%;
    height: 80px;
    width: 50px;
}

#menuButton {
    position: absolute;
    font-size: 25px;
    left: 10%;
    top: 24.5%;
    color: rgb(255,222,125);
}

#menuName {
    font-family: 'Voltaire', sans-serif;
    position: absolute;
    font-size: 20px;
    left: 12%;
    top: 24%;
    color: rgb(255,222,125);
}

#home {
    font-family: 'Voltaire', sans-serif;
    position: absolute;
    font-size: 20px;
    top: 24%;
    left: 20%;
    color: rgb(255,222,125);
}

#userIcon {
    position: absolute;
    font-size: 30px;
    top: 22%;
    right: 3%;
    color: rgb(255,222,125);
}

#searchIcon {
    position: absolute;
    font-size: 27px;
    top: 22%;
    right: 35%;
    color: rgb(255,222,125);
}

#searchBar {
    font-family: 'Voltaire', sans-serif;
    position: absolute;
    border-radius: 8px;
    top: 22%;
    right: 21%;
    height: 28px;
    width: 190px;
    background-color:rgb(255,222,125);
}

#lineBelowHeader {
    border-width: 7px;
    border: solid rgb(255,222,125);
    position: absolute;
    width: 100%;
    top:-5%;
    left:0%;
}

/* Content */
main {
    position: relative;
    top: 80px;
}
/* Film part */
/* Frame */
.single-film {
    top: 8%;
    float: left;
    width: 20%;
    margin: 0%;
    padding-top: 15%;
    position: absolute;
    background-color: #000;
    background-image:  
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff),        
        
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff); 
    background-repeat:no-repeat;
    background-position: 
        5% 5%,
        15% 5%,
        25% 5%, 
        35% 5%,
        45% 5%,
        55% 5%,
        65% 5%,
        75% 5%, 
        85% 5%,
        95% 5%,
            
        5% 95%,
        15% 95%,
        25% 95%, 
        35% 95%,
        45% 95%,
        55% 95%,
        65% 95%,
        75% 95%, 
        85% 95%,
        95% 95%;
    background-size:
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
            
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%;
}
.single-film .film-frame {
    margin: 12% 5%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-grid;
    display: -ms-grid;
    -webkit-grid-columns: 1fr;
    -webkit-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

#firstFilm {
    left: 0%;
}

#secondFilm {
    left: 20%;
}

#thirdFilm {
    left: 40%;
}

#fourtFilm {
    left: 60%
}

#fifthFilm {
    left: 80%;
}

#lineBelowFilm {
    border-width: 7px;
    border: solid rgb(255,222,125);
    position: absolute;
    width: 100%;
    top: 96%;
    left: 0%;
}

/* Img */
.film-frame img {
    height: 145px;
    width: 250px;
}

/* detailsPart */
#detailsPart {
    position: absolute;
    top: 35%;
}

#detailsPart img {
    width: 600px;
    height: 300px;
}

/* Footer */
.text-part {
    font-family:'Voltaire', sans-serif;
    font-size: 15px;
    color: rgb(255,222,125);
}

#firstText {
    position: absolute;
    bottom:9%;
    left:5%;
}

#secondText {
    position: absolute;
    bottom: 4%;
    left: 5%;
}

#thirdText {
    position: absolute;
    bottom: 9%;
    left: 15%;
}

#fourthText {
    position: absolute;
    bottom: 4%;
    left: 15%;
}

.icon-part {
    color: rgb(255,222,125);
    font-size: 30px;
    position: absolute;
    bottom: 6%;
    right: 15%;
}

#facebookIcon {
    padding-left: 10px ;
}

#instagramIcon {
    padding-left: 10px ;
}

#twiterIcon {
    padding-left: 10px ;
}

#youtubeIcon {
    padding-left: 10px ;
}
